.box{
  max-width: 360px;
  margin: 120px auto;
  padding: 64px 120px;
  border: 1px solid #ddd;
  box-shadow: 8px 4px 2px rgba(0,0,0,0.05);
  background: #fff;
  display: flex;
  flex-direction: column;
}
.box h2{
  padding-bottom: 24px;
  text-align: center;
}
.box label{
  display: block;
  margin-bottom: 10px;
  padding: 8px;
}
.box span{
    font-size: 18px;
}
.box input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.box button{
  /* width: 100%; */
  margin-left: 12px;
  padding: 8px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 24px;

}